#wrap {
	height: 100%;
	width: 100%;
	padding: 0 50px;
	margin: 0 auto;
	max-width: 900px;
}
.row {
	width: 100%;
	overflow: auto;
	border-bottom: 2px solid #E6E6E6;
}
.row div,
.row input {
	display: block;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 1.3em;
	min-height: 1.3em;
	overflow: hidden;
	margin: 10px 0;
	line-height: 125%;
	color: #333;
	padding: 6px 12px;
	border-radius: 9px;
	cursor: pointer;
	transition: .15s background ease-in-out, .15s color ease-in-out;
	-webkit-transition: .15s background ease-in-out, .15s color ease-in-out;
}
.row div span {
	color: #F2636E;
	font-style: italic;
}
.row div:hover {
	background: #508BFA;
	color: #fff;
}
.row div:hover span {
	color: #fff;
}
.row div:last-child {
	float: right;
	text-align: right;
	max-width: 40%;
}
.row div:first-child {
	float: left;
	text-align: left;
	max-width: 60%
}
.row input {
	border: none;
	cursor: auto;
	width: 100%;
	max-width: 100%;
	background: transparent;
	outline: none;
	color: #333;
}
#info {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 31px;
	height: 31px;
	cursor: pointer;
	transition: .15s opacity ease-in-out;
	-webkit-transition: .15s opacity ease-in-out;
	background: #fff;
	box-shadow: 0 0 5px 6px #fff;
}
#info:hover {
	opacity: 0.5;
}
#help {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(255,255,255,0.8);
}
#help-wrap {
	
}

@media only screen and (max-width: 480px) {
	#wrap {
		padding: 0 20px;
	}
	.row div,
	.row input {
		font-size: 1em;
		min-height: 1em;
		padding: 5px 9px;
		margin: 8px 0;
	}
	#info {
		width: 20px;
		height: 20px;
	}
}