#wrap {
	height: 100%;
	width: 100%;
	padding: 0 50px;
	margin: 0 auto;
	max-width: 900px;
}
.row {
	width: 100%;
	overflow: auto;
	border-bottom: 2px solid #E6E6E6;
}
.row div,
.row input {
	display: block;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 1.3em;
	min-height: 1.3em;
	overflow: hidden;
	margin: 10px 0;
	line-height: 125%;
	color: #333;
	padding: 6px 12px;
	border-radius: 9px;
	cursor: pointer;
	transition: .15s background ease-in-out, .15s color ease-in-out;
	-webkit-transition: .15s background ease-in-out, .15s color ease-in-out;
}
.row div span {
	color: #F2636E;
	font-style: italic;
}
.row div:hover {
	background: #508BFA;
	color: #fff;
}
.row div:hover span {
	color: #fff;
}
.row div:last-child {
	float: right;
	text-align: right;
	max-width: 40%;
}
.row div:first-child {
	float: left;
	text-align: left;
	max-width: 60%
}
.row input {
	border: none;
	cursor: auto;
	width: 100%;
	max-width: 100%;
	background: transparent;
	outline: none;
	color: #333;
}
#help {
	width: 100%;
	position: fixed;
	overflow: scroll;
	background: rgba(255,255,255,0.9);
	opacity: 0;
	pointer-events: none;
	transition: .2s opacity ease-in-out;
	-webkit-transition: .2s opacity ease-in-out;
}
#help.active {
	height: auto;
	overflow: auto;
}
#help.active {
	opacity: 1;
	position: absolute;
	pointer-events: all;
	transition: .2s opacity ease-in-out;
	-webkit-transition: .2s opacity ease-in-out;
}
#help-wrap {
	margin: 0 auto;
	width: 100%;
	padding: 0 30px;
	padding-bottom: 50px;
	max-width: 700px;
}
#help-wrap h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.4em;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 50px;
	color: #508BFA;
	text-align: center;
}
li.item {
	list-style-type: none;
	display: inline-block;
	padding: 15px 0;
	width: 100%;
	border-bottom: 2px solid #E6E6E6;
}
li.item h4 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	line-height: 125%;
	color: #333;
	float: left;
}
li.item p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 100;
	font-size: 1.1em;
	line-height: 125%;
	color: #666;
	float: right;
}
li.item span {
	color: #F2636E;
}
#button {
	position: fixed;
	right: 10px;
	width: 31px;
	height: 31px;
	cursor: pointer;
	transition: .15s opacity ease-in-out;
	-webkit-transition: .15s opacity ease-in-out;
	background: #fff;
	box-shadow: 0 0 5px 6px #fff;
}
#button.help {
	bottom: 10px;
}
#button.close {
	top: 10px;
}
#button:hover {
	opacity: 0.5;
}

@media only screen and (max-width: 480px) {
	#wrap {
		padding: 0 20px;
	}
	.row div,
	.row input {
		font-size: 1em;
		min-height: 1em;
		padding: 5px 9px;
		margin: 8px 0;
	}
	#help-wrap {
		padding: 0 20px;
	}
	#help-wrap h2 {
		font-size: 1.1em;
		margin-top: 30px;
	}
	li.item h4 {
		font-size: 1em;
	}
	li.item p {
		font-size: 0.87em;
	}
	#button {
		width: 18px;
		height: 18px;
	}
}